textarea {
	display: block;
}

button {
	margin: 5px 0;
}

.card {
	float: left;
	width: 29%;
	min-height: 300px;
	border: 2px solid royalblue;
	margin-right: 1%;
	margin-bottom: 1%;
	padding: 1%;
}

